<html>
    <body>
        <h1>Send message</h1>
        <form action="/new" method="post">
            <label for="name">Name:</label>
            <input type="text" id="author's-name" name="name" required>

             <label for="message">Message:</label>
             <input type="text" id="message" name="message" required>

            <button type="submit">SUBMIT</button>
        </form>
    </body>
</html>