<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini message Board</title>
</head>
<body>
    <% messages.forEach((message) => { %>
    <p>Name: <%= message.user %> </p>
    <p>Text: <%= message.text %> </p>
    <p>Date: <%= message.date %> </p>
    <% }) %>
</body>
</html>