<html>
    <body>
        <h1>Message Details</h1>
        <p>FROM: <%= detailedMessage.user %> </p>
        <p>MESSAGE: <%= detailedMessage.text %> </p>
        <p>POSTED ON: <%= detailedMessage.date %> </p>
        <button onclick="window.location.href='/'" >BACK TO MESSAGES</button>
    </body>
</html>